<hr>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <br>
  <%= @topic.title %>
</p>

<p>
  <strong>Description:</strong>
  <br>
  <%= @topic.description %>
</p>
<br>

<%= button_to "Back to Pony Index", { :action => 'index'}, :method => :get %>
