/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/**= require bootstrap.min*/

.container{
	width: 80%;
	background: #ffffff;
	border: 3px solid hotpink;
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

body {
	background: purple url('../images/cloud_bg.png') repeat;
}

#header {
	text-align: center;
}

#header h1 {
	font-size: 400%;
	text-align:center;
	margin: 5px;
	padding: 5px;
}

#header p {
	text-align: center;
	margin: 0px;
	padding: 0px;
}

#about {
	text-align:center;
	/*to push down from header*/
	margin-top: 20px;
	padding: 0px;
}

#about p {
	margin: 0px;
	padding: 5px;
}

#renderbody {
	/*to push down from about box*/
	margin-top: 20px;
	padding: 0px;
}

#renderbody .table {
	width: 100%;
}

.table {
	margin-bottom: 0px;
}

.tablewrap {
	margin: 0px;
	padding: 0px;
	border: 1px solid black;
}

.displayinline{
	display: inline-block;
	margin: 0px auto;
}

.aligncenter {
	text-align: center;
}