<!DOCTYPE html>
<html>
<head>
  <title>Ponyvote</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div class="container">
		<div class="row">
			<div class="col-md-3">
			</div>
			<div id="header" class="col-md-6">
				<h1>ponyvote</h1>
				<p><em>or, "let's see if I can build a Rails app in like, two days"</em></p>
			</div>
			<div class="col-md-3">
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
			</div>
			<div id="about" class="col-md-8">
				<p>Early on in We Can Code IT's full-time bootcamp, I drew a My Little Pony with a C#
					cutie mark on a whiteboard.  The idea of "code ponies" unexpectedly took off and they
					quickly infiltrated everything, up to and including my final project.  Then I wondered,
					in a final act of pony-induced madness, if I could build a Rails app in the 48 hours
					before graduation.  PonyVote is it.  I'll make a new code pony for whatever suggestion has the
					most votes at the end of career day, and post it on my website at toribeth.com.</p>
			</div>
			<div class="col-md-2">
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
			</div>
			<div id="renderbody" class="col-md-8">
				<%= yield %>
			</div>
			<div class="col-md-2">
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
			</div>
			<div id="about" class="col-md-8">
				PonyVote was built with Ruby on Rails + Bootstrap, and is deployed on Heroku.
			</div>
			<div class="col-md-2">
			</div>
		</div>
	</div>

</body>
</html>
